# Copy this to .env and fill in your real keys
# Never commit .env to git

AQICN_API_KEY=your_aqicn_api_key_here
OPENWEATHER_API_KEY=your_openweather_key_here

HOPSWORKS_API_KEY=your_hopsworks_api_key_here
HOPSWORKS_PROJECT_NAME=aqi_predictor

# Target city
CITY_NAME=Rawalpindi
CITY_LAT=33.5651
CITY_LON=73.0169